# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment secrets
# =========================
.env
.env.local

# =========================
# OS / editor junk
# =========================
.DS_Store
Thumbs.db
